<div class="login">
    <div class="panel panel-default" data-ng-show="ready" data-ng-class="{'panel-danger': error, 'panel-default': error}">
        <div class="panel-heading">Authentication</div>

        <div class="panel-body">
            <div class="row">
                <ul class="nav nav-pills nav-justified" data-ng-init="authType = 'token'">
                    <li data-ng-class="{active: authType == 'token'}"><a data-ng-click="authType = 'token'">Token</a></li>
                    <li data-ng-class="{active: authType == 'password'}"><a data-ng-click="authType = 'password'">Password</a></li>
                </ul>
            </div>

            <div class="alert alert-danger" data-ng-show="error">
                Authentication failed, please check your token.
                <button class="close" data-ng-click="error = false">&times;</button>
            </div>

            <form class="form-horizontal" data-ng-submit="submit()" data-ng-if="authType == 'password'" data-ng-init="$parent.username = ''; $parent.password = ''">
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" placeholder="username" data-ng-model="$parent.username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" placeholder="password" data-ng-model="$parent.password">
                    </div>
                </div>

                <div class="form-actions">
                    <div class="col-sm-offset-3 col-sm-10">
                        <input class="btn btn-success" type="submit" value="Login" />
                    </div>
                </div>
            </form>

            <form class="form-horizontal" data-ng-submit="submit()" data-ng-if="authType == 'token'" data-ng-init="$parent.username = ''; $parent.password = ''">
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Token</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" placeholder="token" data-ng-model="$parent.password">
                        <div class="alert alert-info help-block">
                            <h3>Gitlab private token</h3>
                            <a target="_blank" class="alert-link" href="/gitlab/profile/account">Follow this link</a> to get your private token
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <div class="col-sm-offset-3 col-sm-10">
                        <input class="btn btn-success" type="submit" value="Login" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
