<div class="btn-group">
    <button data-tooltip="View project" data-tooltip-placement="bottom" type="button" class="btn btn-default navbar-btn" data-ui-sref="home.project">
        <i class="fa fa-columns"></i>
    </button>
    <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-cog fa-fw"></i>
    </button>
    <ul class="dropdown-menu">
        <li class="dropdown-header">Interval</li>
        <li data-ng-class="{active: interval == 'year'}"><a data-ng-click="setInterval('year')">Year</a></li>
        <li data-ng-class="{active: interval == 'month'}"><a data-ng-click="setInterval('month')">Month</a></li>
        <li data-ng-class="{active: interval == 'week'}"><a data-ng-click="setInterval('week')">Week</a></li>
        <li data-ng-class="{active: interval == 'day'}"><a data-ng-click="setInterval('day')">Day</a></li>
    </ul>
</div>
