<div class="panel panel-default" style="border: none; box-shadow: none">
    <div class="panel-heading clearfix" style="line-height: 32px">
        <strong>Cumulative flow graph</strong>

        <div class="btn-group pull-right" data-ng-show="$state.is('home.project.metrics') && project">
            <button data-tooltip-placement="bottom" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Interval</li>
                <li data-ng-class="{active: interval == 'year'}"><a data-ng-click="setInterval('year')">Year</a></li>
                <li data-ng-class="{active: interval == 'month'}"><a data-ng-click="setInterval('month')">Month</a></li>
                <li data-ng-class="{active: interval == 'week'}"><a data-ng-click="setInterval('week')">Week</a></li>
                <li data-ng-class="{active: interval == 'day'}"><a data-ng-click="setInterval('day')">Day</a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body" data-loading="chart">
        <highchart config="chart" data-ng-show="chart && !error"></highchart>

        <div class="alert alert-warning" data-ng-if="error">
            <i class="fa fa-bar-chart-o fa-4x"></i>
            <h3>No data</h3>

            <p>There is not enough data to compute flow graph.</p>
        </div>
    </div>
</div>
