.issue {
  .panel;

  margin: @panel-body-padding;
  z-index: 1050;

  &[class*='panel-'] {
    .panel;

    border-width: 1px;
    border-style: solid;

    &.panel-default {
      border-color: @panel-default-border;
    }

    &.panel-info {
      border-color: @panel-info-border;

      .panel-footer {
        border-color: @panel-info-border;
      }
    }

    &.panel-success {
      border-color: @panel-success-border;

      .panel-footer {
        border-color: @panel-success-border;
      }
    }

    &.panel-warning {
      border-color: @panel-warning-border;

      .panel-footer {
        border-color: @panel-warning-border;
      }
    }

    &.panel-danger {
      border-color: @panel-danger-border;

      .panel-footer {
        border-color: @panel-danger-border;
      }
    }
  }

  .avatars {
    width: 70px;
    height: 70px;
    float: left;

    .avatar {
      width: 40px;
      margin-right: 0px;
      float: left;
      border: 2px solid @panel-default-border;

      &.assignee {
        position: relative;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  .panel-heading {
    & > a {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 80%;
      white-space: nowrap;
      position: relative;
      z-index: 10;
    }

    .btn-group {
      .pull-right;
    }

    & > .fa-star {
      .pull-left;

      position: relative;
      top: 10px;
      font-size: 2.5em;
      line-height: 0px;
      left: -15px;
      opacity: .3;
      z-index: 9;
      transform: rotate(15deg);
    }
  }

  .panel-footer {
    border-top-width: 0;

    strong {
      .pull-right;
    }
  }

  .panel-body {
    -webkit-transition: height .5s, min-height .5s, max-height .5s;
    transition: height .5s, min-height .5s, max-height .5s;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    > div {
      min-height: 65px;
      padding: @panel-body-padding;
    }

    p {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &:hover:not(.dragging):not(.zoom):not(.unzooming):not(.zooming) {
    .panel-body {
      -webkit-transition: height .5s, min-height .5s, max-height .5s;
      transition: height .5s, min-height .5s, max-height .5s;
      padding: 0;
      min-height: 65px;
      max-height: 130px;
    }

    .panel-footer {
      border-top-width: 1px;
    }
  }

  .btn-zoom .fa-compress {
    display: none;
  }

  .btn-zoom .fa-expand {
    display: inline;
  }

  .shortdesc {
    display: block;
    min-height: 50px;
  }

  .description {
    display: none;
  }

  &.zooming, &.unzooming, &.zoom {
    height: auto!important;
    z-index: @zindex-dropdown + 100;
    margin-bottom: 30px;

    .panel-body {
      -webkit-transition: height .5s, min-height .5s, max-height .5s;
      transition: height .5s, min-height .5s, max-height .5s;
      min-height: 75px;
      max-height: 130px;
    }

    .btn-zoom .fa-compress {
      display: inline;
    }

    .btn-zoom .fa-expand {
      display: none;
    }

    .shortdesc {
      display: none;
    }

    .description {
      display: block;
    }
  }

  &.zooming, &.zoom {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  &.zoom, &.unzooming {
    .panel-body {
      max-height: none;
    }
  }

  &.zoom .panel-body {
    overflow: auto;
  }

  &.unzooming {
    animation: shadowRemove 0.5s;
    -webkit-animation: shadowRemove 0.5s ease-out;

    .panel-body {
      overflow: hidden;
    }
  }

  &.dragging {
    opacity: 0.5;
    transform: rotate(3deg);
  }

  &.closed {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;

    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

@keyframes shadowRemove {
  from {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  to {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
}

.panel-info {
  & > .panel-footer {
    background-color: @panel-info-heading-bg;
  }
}

.panel-success {
  & > .panel-footer {
    background-color: @panel-success-heading-bg;
  }
}

.panel-warning {
  & > .panel-footer {
    background-color: @panel-warning-heading-bg;
  }
}

.panel-danger {
  & > .panel-footer {
    background-color: @panel-danger-heading-bg;
  }
}
